#blue{
    display: inline-block;
    position: relative;
    font-family: "BrownProBold";
}

#blue:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #e90909;
    transform-origin: bottom right;
    transition: transform 0.35s ease-out;
  }
  
  #blue:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }


  

  #red{
    display: inline-block;
    position: relative;
    font-family: "BrownProBold";
    color: white !important;
}

#red:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #e90909;
    transform-origin: bottom right;
    transition: transform 0.35s ease-out;
  }
  
  #red:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }
