@font-face {
    font-family: "BrownProBold";
    src: local("BrownProBold"),
      url("FontsFree-Net-BrownPro-Bold.ttf") format("opentype"),
      url("fontsfree-net-brownpro-bold-webfont.woff") format("woff"),
      url("fontsfree-net-brownpro-bold-webfont.woff2") format("woff2");
  }

  @font-face {
    font-family: "BrownRegular";
    src: local("BrownRegular"),
      url("FontsFree-Net-Brown-Regular-Regular.ttf") format("opentype"),
      url("fontsfree-net-brown-regular-regular-webfont.woff") format("woff"),
      url("fontsfree-net-brown-regular-regular-webfont.woff2") format("woff2");
      ;
  }
  

.article{
    width: 50%;
    margin: 0 auto;
    margin-top: 50px;
    background-color: white;
    padding: 10px;
    border-radius: 0px;
}

.sous-titre{
    font-family: "BrownRegular", sans-serif;
    font-size: 17px;
}

.radioImg{
    margin: 0 auto;
    width: 80%;
}
.radioImg img{
    width: 100%;
}

audio {
    margin: 0 auto;
    width: 100%;
}

.lien{
    columns: 2;
    width: 100%;
    border: #0bb9a2 10px;
    transition: .5s ease;
}

.lien:hover{
    cursor: pointer;
    box-shadow:

-1px -1px #0bb9a2,
-2px -2px #0bb9a2,
-3px -3px #0bb9a2,
-4px -4px #0bb9a2,
-5px -5px #0bb9a2;
-webkit-transform: translateX(-3px);
transform: translateX(-3px);
transition: .5s ease;

}

.lien:hover h3{
    text-decoration: underline;
}



.label{
    color: #0bb9a2;
    text-decoration: underline;
}

.lien img{width: 100%;}

.phoneButton{display: none;}

.laptopButton{
    margin-top: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    float: right;    
}

.phoneButton{
    margin-top: 10px;
    
    float: right;
}


iframe{
    width: 100%;
    height: 500px;
    padding-top: 50px;
    padding-bottom: 50px;
}
.container{
    width: 90%;
}
.sousTitre {
    margin-bottom: 15px;
}
.img{
    width: 100%;
}
p{
    text-align: left;
}

.legende{
    color: #5C5C5D;
    font-size: 14px;
    margin: 0px;
    background-color: #FAFBFF;
    padding: 9px;
    font-family: "BrownProBold";
}

body{
    background-color: #FFFFFF;
}

header{
    color: black;
    background-color: white;
    box-shadow: 0px 0px 1px grey;
}
.containerNav {
    width: 80%;
    margin: 0 auto;
}
.bonjour {
    line-height: 48px;
    padding-top: 22px;
}


li a{
    color: black !important;
    font-size: 18px !important;
}
.a{
    color: black !important;
    font-size: 18px !important;
}


footer{
    margin-top: 50px;
    background-color: #232323;
}

.footertxt{
    margin: 0 auto;
    width: 201px;
    line-height: 92px;
    color: white;
    text-decoration: underline #ffe32b;

}




@media only screen and (min-width: 1px) and (max-width: 700px) {
    
    .nav-link{
        padding-left: 8px;
        padding-right: 8px;
    }
    .article{
        width: 97%;
        padding: 2px;
        margin-top: 50px;  
    }
    .container{
        width: 97%;
    }
    iframe{
        width: 100%;
        height: 400px;
    }
    .titree{
        font-size: 20px;
    }
    li a{
        color: black !important;
        font-size: 14px !important;
    }
    .bonjour {
        line-height: 30.5px;
    }
    .lien{
        columns: 1;
    }
    .phoneImg{
        width: 90%;
    }
    .phoneButton{
        display: block;
        float: left;
        margin-bottom: 10px;
    }
    .laptopButton{display: none;}
}

@media only screen and (min-width: 701px) and (max-width: 1200px) {
    .article{
        width: 80%;
        margin: 0 auto;
        margin-top: 50px;
    }
    iframe{
        width: 100%;
        height: 500px;
    }
    .phoneButton{
        display: block;
        float: right;
    }
    .laptopButton{display: none;}
}

@media only screen and (min-width: 1201px) {
    .article{
        width: 80%;
        margin: 0 auto;
        margin-top: 50px;
    }
    iframe{
        width: 100%;
        height: 700px;
    }
    .phoneButton{
        display: block;
        float: right;
    }
    .laptopButton{display: none;}
    .titr{
        margin-top: 20px;
    }

}

.titr{
    font-family: "BrownProBold";
}

#myBtn {
    border-radius: 30px;
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  outline: none; /* Remove outline */
  background-color: #555; /* Set a background color */
  color: white; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 10px 15px; /* Some padding */
  font-size: 18px; /* Increase font size */
  transform-origin: center;
  border: solid 2px #555;
  transition: 0.2s;
}

#myBtn:hover {
  border: solid 2px lightgray; /* Add a dark-grey background on hover */
}

.encadrer{
    background-color: #232323;
    color: white;
    padding: 40px 40px 20px 40px;
}

.preArticle{
    border-top: solid 1.33px #ECF0F4;
    padding-top: 13px;
    color: #616364;
    font-size: 14px;
    font-family: "BrownRegular";
}
.readTime{
    float: right;
}

.auteur{
    margin: 40px 0px;
}





